
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

header {
    text-align: center;
    background-color: #d0ada7;
    font-size: 150%;
    padding: 25px;
    ;
}

nav{
    overflow: hidden;
    background-color: #210f04;
}

a.navbar{
    float: left;
    display: block;
    text-align: center;
    padding:10px 10px;
    text-decoration: none;
}

a.navbar:link, a.navbar:visited{
    float: left;
    color: #d0ada7;
}

a.navbar:hover{
    text-decoration: underline;
    color: #e8d6cb;
}

a.navbar:active{
    text-decoration: underline;
    color: #5d2e46;
}

section{
    background-color:#e8d6cb;
    float:left;
    width: 75%;
    padding: 10px;
}

article{
    background-color:#e8d6cb;
    margin: 10px;
}

p{
    padding: 10px;
}
.image-cropper{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.intro_pic{
    display: inline;
    margin: 0 auto;
    margin-left: -20%;
    height: 100%;
    width: auto;
}

aside{
    background-color:#e8d6cb;    
    float: right;
    width: 25%;
    padding: 15px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}