
.image-cropper{
    width:500px;
    height:300px;
    overflow: hidden;
    /* margin: 10px;
    padding: 10px; */
}

.intro_pic{
    display: inline;
    /* margin: 0 auto; */
    height: 100%;
    width: auto;
}

/* Creating the side bar */


.form-group{
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

.form-group input, .form-group textarea{
    width: 99%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid gray;
    resize: vertical;
}

button[type="submit"]{
    width:99%;
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    transition: .3s ease background-color;
}

button[type="submit"]:hover{
    background-color: #98c1d9;
}