
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

header {
    text-align: center;
    background-color:lightcoral;
    font-size: 150%;
    padding: 25px;
    ;
}

nav{
    overflow: hidden;
    background-color: gray;
}

a.navbar{
    float: left;
    display: block;
    text-align: center;
    padding:10px 10px;
    text-decoration: none;
}

a.navbar:link, a.navbar:visited{
    float: left;
    color: white;
}

a.navbar:hover{
    text-decoration: underline;
    color: lightcoral;
}

a.navbar:active{
    text-decoration: underline;
    color: lightskyblue;
}

section{
    background-color:linen;
    float:left;
    width: 75%;
    padding: 15px;
}

article{
    background-color:lightgray;
    border:3px dotted lightpink;
}

.image-cropper{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.intro_pic{
    display: inline;
    margin: 0 auto;
    margin-left: -20%;
    height: 100%;
    width: auto;
}

aside{
    background-color:linen;    
    float: right;
    width: 25%;
    padding: 15px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}