
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

header {
    text-align: center;
    background-color: #d0ada7;
    font-size: 150%;
    padding: 25px;
    ;
}
/** Navigation Bar **/
nav{
    overflow: hidden;
    background-color: #210f04;
}

a.navbar{
    float: left;
    display: block;
    text-align: center;
    padding:10px 10px;
    text-decoration: none;
}

a.navbar:link, a.navbar:visited{
    float: left;
    color: #d0ada7;
}

a.navbar:hover{
    text-decoration: underline;
    color: #e8d6cb;
}

a.navbar:active{
    text-decoration: underline;
    color: #5d2e46;
}
/**section, width 75%**/
.row{
    width: 100%;
}
section{
    background-color:#e8d6cb;
    float:left;
    width: 75%;
    padding: 10px;
}

article{
    background-color:adopt;
    margin: 5px;
}

.image-cropper{
    width:300px;
    height:300px;
    overflow: hidden;
    border-radius: 50%; 
    margin: 10px;
}

.intro_pic{
    display: inline;
    margin: 0 auto;
    margin-left: -20%;
    height: 100%;
    width: auto;
}

p{
    line-height:1.5;
    padding: 10px;
}

/* Creating the side bar */
aside{
    background-color:#e8d6cb;    
    float: right;
    width: 25%;
    padding: 10px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid black;
}

.form-group{
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

.form-group input, .form-group textarea{
    width: 90%;
    padding: 5px;
    font-size: 10px;
    border: 1px solid gray;
    resize: vertical;
}

button[type="submit"]{
    width:90%;
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    transition: .3s ease background-color;
}

button[type="submit"]:hover{
    background-color: #d0ada7;
}

/**Creating the footer**/
.row:after{
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}