
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

  html{
      min-height:100vh;
      height: 100vh;
    }
body, .maincontent, .sidebar{
    min-height:100vh;
    height: 100vh;
}

body{
    padding:0px 50px;
}

  /* col- grid Credits to W3Schools */
  [class*="col-"] {
    float: left;
  }

.col-1 {width: 8.33%;}
.col-3 {width: 33.33%}
.col-5 {width: 35%;}
.col-6 {width: 50%;}
.col-7 {width: 65%;}
.col-12 {width:100%;}


header {
    text-align: center;
    color: #6485c1;
    font-size: 3.5vw;
    line-height: 1;
    /* Does header have default margin? I noticed it appears on Inspect Source, even though I set margin to 0. */
}

/** Navigation Bar **/
.navbar{
    border-top: 0.15vw solid #a5a7ac;
    border-bottom: 0.15vw solid #a5a7ac;
    list-style: none;
    padding: 0.1%;
    margin: 0;
    font-size: 1.8vw;
    text-align:center;
}

.navbar li{
    display:inline;
}

.navbar a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.navbar a:link, .navbar a:visited{
    color: #0d0630;
}

.navbar a:hover{
    color: #0085cc;
}

.navbar a:active{
    color: #6485c1;
} 

/**main content**/
.row::after {
    content: "";
    clear: both;
    display: table;
  }
 
/* This is for 2-col pages. */
.maincontent{
    float: left;
    margin: 5px 0px;
    padding: 5px;
    height: 100%;
    border-right: 3px solid gray;
}

p{
    font-size: 1.5vw;
    line-height:1.5;
}

/**Creating the footer**/

footer{
    border:2px solid #293241;
    text-align: center;
    padding: 15px 0px 15px;
}