
* {
    box-sizing: border-box;
  }

header {
    text-align: center;
    background-color:lightcoral;
    font-family: Helvetica;
    font-size: 150%;
    padding: 25px;
}

nav{
    background-color: gray;
    padding: 5px;
}

a.navbar{
    outline:2px solid black;
    padding:4px;
}

section{
    background-color:linen;
    float:left;
    width: 75%;
}

article{
    background-color:white;
    border:3px dotted lightpink;
}

aside{
    float: right;
    width: 25%;
}

/* p {
    background-color: rgb(186, 234, 250);
    font-family: Helvetica;
    text-align: left;
} */
