.row li{
    font-size: 1.5vw;
    line-height: 2vw;
}

.work_container{
    border: 0px dotted gray;
}

/* Creating the side bar */
.sidebar{
    background-color:white; 
    margin: 5px 0px;
    padding: 5px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.form-group{
    width: 100%;
    margin-top: 10px;
    font-size: 2vw;
}

.form-group input, .form-group textarea{
    width: 99%;
    padding: 5px;
    font-size: 2vw;
    border: 1px solid gray;
    resize: vertical;
}

button[type="submit"]{
    width:99%;
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    transition: .3s ease background-color;
}

button[type="submit"]:hover{
    background-color: #98c1d9;
}